<!-- <div class="gallery">
    <div class="gallery-list" *ngFor="let product of products">
        <img src="{{ product.image }}"/>
        <h3>{{ product.title }}</h3>
        <p class="price">{{ product.price }}</p>

        <button (click)="hideDescription(product)">
            INFO
            <p class="description"[hidden]="!product.showDescription">{{ product.description}}</p>
        </button>
    </div>
</div> -->
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
