
  <div class="body">
    <div class="product-container">
    <div class="product-image">
      <img src="{{product?.image}}" alt="Product Image">
    </div>
    <div class="product-info">
      <h2>{{ product?.title }}</h2>
      <p class="descripcion-producto">{{ product?.description }}</p>
      <p class="precio-producto">{{ product?.price }}€</p>
      <div class="caja">
        <p class="categoria-producto">Category: {{ product?.category }}</p>
      </div>
      
      
    </div>
  </div>
  </div>
  
