.login-div{
  width: 100vw;
  height: 100vh;
  background-color: #49D1D1;
}
.megadiv{
  width: 500px;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.div1{
  width: 400px;
  display: flex;
  flex-direction: column;
}
.div2{
  width: 400px;
  display: flex;
  flex-direction: column;
}
.email-txt{
  color: #49D1D1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}
.password-txt{
  color: #49D1D1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}
input{
  width: 300px;
  height: 30px;
}
.send-button{
  height: 30px;
  width: 100px;
  background-color: #49D1D1;
  border: 1px solid gray;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
